version: "3.5"
services:

  java-worker:
    image: java-worker
    container_name: java-worker
    build:
      dockerfile: Dockerfile
    ports:
      - ${PQL_PORT}:${PQL_PORT} # pprof extension
    environment:
      - MAX_TASKQUEUE_ACTIVITIES_PER_SECOND=${MAX_TASKQUEUE_ACTIVITIES_PER_SECOND}
      - PQL_PORT=${PQL_PORT}
      - CONCURRENT_ACTIVITY_EXECUTION_SIZE=${CONCURRENT_ACTIVITY_EXECUTION_SIZE}
      - CONCURRENT_WORKFLOW_EXECUTION_SIZE=${CONCURRENT_WORKFLOW_EXECUTION_SIZE}
      - MAX_WORKFLOW_THREAD_COUNT=${MAX_WORKFLOW_THREAD_COUNT}
      - CONCURRENT_ACTIVITY_POLLERS=${CONCURRENT_ACTIVITY_POLLERS}
      - CONCURRENT_WORKFLOW_POLLERS=${CONCURRENT_WORKFLOW_POLLERS}
      - CACHE_SIZE=${CACHE_SIZE}
      - DISABLE_EAGER_DISPATCH=${DISABLE_EAGER_DISPATCH}
      - SLEEP_ACTIVITY_IN_MS=${SLEEP_ACTIVITY_IN_MS}
      - WORKER_TUNNER=${WORKER_TUNNER}
      - INJECT_GRPC_FAILURES=${INJECT_GRPC_FAILURES}
      - INJECT_GRPC_METHOD_SUBSTR=${INJECT_GRPC_METHOD_SUBSTR}
      - INJECT_GRPC_FAIL_PERCENT=${INJECT_GRPC_FAIL_PERCENT}
      - INJECT_GRPC_FAIL_FIRST_N=${INJECT_GRPC_FAIL_FIRST_N}
    networks:
      - temporal-network
    mem_limit: 2048M
    memswap_limit: 2048M
    cpus: 2
    restart:
      always
networks:
  temporal-network:
    external: true